/* Content */
.main-view__outputs {
	flex-wrap: wrap;
	align-content: flex-start;
}

/* options (footer) */
.main-view__options {
	
}

/* Output buttons */
.main-view__panels {
	margin: 5px 5px;
	width: 120px;
	height: 120px;
	white-space: normal;
}