.popup-control-panel__root {
	width: auto;
	height: auto;
	position: fixed;
	z-index: 100;
	top: 65px;
	right: 5px;
	box-shadow: var(--lumo-box-shadow-l);
	transition: box-shadow 0.5s ease, visibility, visibility 0.33s linear 0s, opacity 0.33s linear;
	transition-delay: 0s;
	border-radius: var(--lumo-border-radius);
	background-color: var(--lumo-base-color);
}

.popup-control-panel__wrapper {
	background-color: var(--app-layout-bar-background-color);
	width: 200px;
	height: auto;
	border-radius: var(--lumo-border-radius);
	padding: 20px;
}

.popup-control-panel__button-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: var(--lumo-space-xs);
}

.popup-control-panel__brightness-container {
	padding: 0 10px;
	margin-top: var(--lumo-space-xs);
}